<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>测试</key>
	<string>testapi.RS.com</string>
	<key>开发</key>
	<string>devapi.RS.com</string>
	<key>生产</key>
	<string>api.RS.com</string>
</dict>
</plist>
